.animation-wrapper {
  width: 30%;
  /* padding-bottom: 50%; */
}

.sphere-animation {
}

.sphere path {
  fill: url(#sphereGradient);
  stroke-width: 1px;
  stroke: rgba(4, 46, 55, 0.803);
  backface-visibility: hidden;
}

@media (min-width: 500px) {
  .sphere path {
    stroke-width: 1.5px;
  }
}
