.animation-wrapper {
  width: 35%;
  padding-bottom: 50%;
}

.sphere-animation {
}

.sphere path {
  fill: url(#sphereGradient);
  stroke-width: 1px;
  stroke: rgba(80, 80, 80, 0.35);
  backface-visibility: hidden;
}

@media (min-width: 500px) {
  .sphere path {
    stroke-width: 1.5px;
  }
}
